mixin title-with-actions(options)
  div(class="flex flex-row justify-between items-center" id=options.id)
    h1(class="text-xl")
      block
    each action in options.actions || []
      a(
        href=action.href,
        class=`${[
          action.variant === 'contained' ? 'font-medium text-white bg-blue-600 hover:bg-blue-700 border-blue-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 ' : '',
          action.variant === 'outlined' ? 'font-medium border-gray-300 text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500' : '',
          action.variant === 'text' ? 'bg-transparent hover:text-blue-600 text-blue-500' : '',
          'flex items-center px-3 py-1 rounded-lg border text-sm leading-4 transition-colors',
        ].filter(Boolean).join(' ')}`,
      )
        if action.icon
          svg(
            class="w-4 h-4 mr-2",
            fill="none",
            stroke="currentColor",
            viewBox="0 0 24 24",
            xmlns="http://www.w3.org/2000/svg"
          )
            != action.icon
        | #{action.label}
